*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    min-width: 100px;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: none;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 82px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.content{
    width: 100%;
    /* background-color: yellow; */
    height: calc(100% - 80px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.side-bar{
    width: 250px;
    height: 100%;
    background-color: black;
}
.view {
    width: calc(100% - 250px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #f2f2f2;
    /* background¿-color: red; */
  }
  .new{
      width: 100%;
      height: 85px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* justify-content: ; */
      /* background-color: rgb(183, 233, 253); */
  }

  .new-2{
    width: 70%;
    height: 85px;
    display: flex;
    align-items: flex-end;
    /* justify-content: ; */
    /* background-color: rgb(183, 253, 186); */
}
  .new-btn{
      width: 110px;
      height: 50px;
      border-radius: 3px;
      color: white;
      font-size: 21px;
      background-color: #0892d0;
      border: none;

      box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  }
  .new-btn:hover{
      background-color: white;
      color: #0892d0;
      border: 2px solid #0892d0;
  }
  .file-area{
      width: 100%;
      height: 500px;
      /* background-color: #e23232; */
      display: flex;
      align-items: center;
      
      /* justify-content: space-between; */
      flex-direction: column;
  }
  .scroll {
    width: 70%;
    /* background-color: blue; */
    height: 90%;
    padding-top: 20px;
    margin-bottom: 10px;
    /* border-radius: 10px; */
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0892d0;
  }

  .row{
      width: 98%;
      height: fit-content;
      background-color: white;
      border-radius: 3px;
      margin-bottom: 10px;
      display: flex;
      /* background-color: blue; */
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      /* border: none; */
      box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  }
  .iconDetails{
      width: 100%;
      height: 90px;
      display: flex;
      flex-direction: row;
      /* background-color: rgb(97, 209, 243); */
  }
  .icon{
      width: 12%;
      height: 90px;
      /* background-color: yellow; */
      display: flex;
      align-items: center;
      justify-content: center;

  }
  .details{
    width: 80%; 
    height: 90px;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .file, .date, .time{
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      /* background-color: rgb(95, 250, 95); */
  }
  .topic{
    width: 15%;
    height: 100%;
    padding-left: 4px;
    display: flex;
    align-items: center;
    /* background-color: rgb(164, 248, 95); */
  }
  .colon{
    width: 4%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(95, 248, 159); */
  }
  .data{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(123, 95, 248); */
  }
.delete{
    width: 84%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    /* background-color: rgb(250, 234, 95); */
}
.delete-btn{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #262b2f;
    border-radius: 3px;
    border: 2px solid #262b2f;
    border: none;
    border-radius: 2px;
    box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
    /* box-sizing: 0rem 0.1rem 0.1rem rgb(0,0,0,0.3); */
    /* background-color: rgb(252, 82, 82); */
}
.delete-btn:hover{
    background-color: white;
<<<<<<< HEAD
    color: #262b2f;
    border: 2px solid #262b2f;
    box-shadow: 1px 1px 10px #898a8a;
}
=======
    color: rgb(252, 82, 82);
    border: 2px solid rgb(252, 82, 82);
}
>>>>>>> f2bcb9203b4d5db2ce639ee1fe5031f96a693fc9
