* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  min-width: 100px;
  background-color: #f2f2f2;
}
.add-container { 
  width: 100%;
  height: 100vh;
  position: fixed;
  
  z-index: 999;
  background-color: #ebe9e9dc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  width: 500px;
  height: 310px;
  background-color: white;
  margin: -150px auto auto auto;
  position: fixed;
  border-radius: 8px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  /* padding: 10px; */
}
.addTopic{
  width: 100%;
  height: 65px;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
  color: black;
  text-shadow: 0rem 0.01rem 0.04rem rgb(0, 0, 0, 0.3);
  /* line-height: 65px; */
}
label {
  width: 180px;
  display: inline-block;
  font-size: 18px;
  /* background-color: pink; */
}
.input-area {
  width: 100%;
  height: 137px;
  /* line-height: 65px; */
  /* background-color: green; */
  /* padding-left: 65px; */
  /* padding-top: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.myRow{
  width: 72%;
  height: 50px;
  /* background-color: rgb(50, 232, 245); */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.first{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: rgb(181, 250, 69); */
}
.second{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(250, 165, 69); */
}
.third{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(69, 117, 250); */
}
.input-area input[type="number"] {
  /* width: 168px; */
  width: 100%;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  border: 1px solid #0000;
  padding: 8px;
}

/* #clare-amountss{
  border: 1px solid #0000;
} */
.enter{
  display: flex;
  /* align-items: center; */
  width: 100%;
  height: 38px;
  padding-left: 254px;
  /* background-color: rgb(56, 59, 243); */
  color: red;
}
.footer {
  width: 100%;
  height: 70px;
  /* background-color: yellow; */
  /* padding: 20px; */
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}
.footer button {
  color: white;
  /* padding: 8px; */
  font-size: 16px;
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 3px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.5);
  /* transition: 0.4s; */
}
.footer .cancel {
  background-color: black;
}
.footer .confirm {
  background-color: #0892d0;
}
.footer .cancel:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.footer .confirm:hover {
  background-color: white;
  color: #0892d0;
  border: 2px solid #0892d0;
}

