* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: sans-serif;
  min-width: 100px;
 
}
.container { 
  width: 100%;
  height: 100vh;
  /* background-color: #f2f2f2; */
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 82px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.my-content {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.view {
  width: calc(100% - 250px);
  height: 100%;
  /* background-color: red; */
}
.part-1 {
  width: 100%;
  height: 11%;
  /* background-color: #7da8f8; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topic {
  padding-right: 44px;
  color: black;
  font-size: 27px;
  text-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.part-2 {
  width: 100%;
  height: 12%;
  /* background-color: #cb7df8; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dateofExam {
  width: 36%;
  height: 70px;
  /* background-color: #7df887; */
  margin: auto auto auto 185px;
  display: flex;
  align-items: center;
}
.date{
  width: 240px;
  height: 45px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 6px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.btn-search{
  width: 120px;
  height: 45px;
  border: none;
  border-radius: 4px;
  background-color: #0892d0;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.btn-search:hover{
  background-color: #0099ff;
}
.part-3 {
  /* background-color: rgb(248, 250, 146); */
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.table-head {
  width: 71%;
  height: 55px;
  background-color: #262b2f;
  color: white;
  border-radius: 4px;
  display: flex;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.one,
.two,
.three,
.four,
.five{
  height: 100%;
  display: flex;
  align-items: center;
}
.one {
  width: 15%;
  padding-left: 31px;
  /* background-color: rgb(255, 59, 59); */
}

.two {
  width: 35%;
  /* background-color: rgb(253, 222, 44); */
}
.three {
  width: 18%;
  /* background-color: rgb(109, 255, 72); */
}
.four {
  width: 16%;
  /* background-color: rgb(51, 113, 248); */
}
.five {
  width: 16%;
  /* background-color: rgb(253, 222, 44); */
}

.table-body {
  width: 79%;
  height: 80%;
  background-color: none;
  display: flex;
  /* position: fixed; */
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}
.scroll {
  width: 92%;
  height: 90%;
  padding-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign {
  background-color: white;
  padding: 8px;
  width: 110px;
  height: 30px;
  border-radius: 4px;
  border: none;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  transition: 0.4s;
}
.sign:hover {
  color: white;
  background-color: #0892d0;
}
.row-1 {
  width: 98%;
  height: fit-content;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 5px #b0b3b3;
  border-radius: 4px;
}

/* .zero {
  width: 1%;
} */

.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
  height: 57px;
  display: flex;
  align-items: center;
}
.col-1 {
  width: 15%;
  padding-left: 31px;
  /* background-color: rgb(248, 144, 144); */
}
.col-2 {
  width: 35%;
  padding-left: 2.6px;
  /* background-color: rgb(144, 248, 248); */
}
.col-3 {
  width: 16%;
  padding-left: 5px;
  /* background-color: rgb(160, 144, 248); */
}
.col-4 {
  width: 17%;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(224, 144, 248); */
}
.col-5 {
  width: 17%;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(248, 144, 144); */
}
.col-6{
  width: 34%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.pass {
  background-color: #0892d0;
}
.fail {
  color: white;
  background-color: #262b2f;
  border: none;
}
.fail:hover {
  color: #262b2f;
  background-color: white;
  border: 2px solid #262b2f;
}
.pass:hover {
  color: #0892d0;
  background-color: white;
  border: 2px solid #0892d0;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0892d0;
}
