*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    min-width: 100px;
    /* background-color: #ffffff; */
}
.toEdit-container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: none;
    
}
.toEdit-box{
    width: 420px;
    height: 160px;
    margin: -520px auto auto 560px;
    border-radius: 8px;
    background-color: #262b2f;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.theam{
    width: 94%;
    height: 30%;
    /* background-color: rgb(240, 65, 65); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.theam-head{
    width: 42%;
    height: 100%;
    color: white;
    /* background-color: #76c3f7; */
    font-weight: bold;
    display: flex;
    align-items: center;
}
.theam-colon{
    width: 4%;
    height: 100%;
    /* background-color: #f1ee39; */
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.theam-area{
    width: 54%;
    height: 100%;
    /* background-color: #f1b139; */
    display: flex;
    align-items: center;
}

input[type="text"]{
    width: 100%;
    height: 66%;
    border-radius: 3px;
    color: #262b2f;;
    border: 1px solid #262b2f;;

}
.theam-update{
    width: 94%;
    height: 60px;
    /* background-color: #f85fca; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.update-button{
    width: 90px;
    height: 30px;
    background-color: #0099ff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0rem 0.1rem 0.1rem rgb(0,0,0,0.3);
}
.update-button:hover{
    color: #0099ff;
    background-color: white;
    border: 2px solid #0099ff;
}



                                /* old */

.edit-container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: pink; */
}
.editBox{
    width: 650px;
    height: 600px;
    margin: -670px auto auto auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.edit-topic{
    width: 100%;
    height: 75px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-details{
    width: 100%;
    height: 455px;
    /* background-color: rgb(51, 245, 51); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.edit-row{
    width: 85%;
    height: 35px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* background-color: rgb(109, 222, 241); */
}
.edit-theam{
    width: 36%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: pink; */
}
.edti-colon{
    width: 4%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(240, 56, 86); */
}
.edit-area{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
}

input[type="text"]{
    width: 100%;
    height: 26px;
    padding-left: 4px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
}
input[type="date"]{
    width: 100%;
    height: 26px;
    padding-left: 4px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
}

.edit-footer{
    width: 85%;
    height: 70px;
    /* background-color: rgb(250, 230, 46); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.edit-cancel{
    width: 100px;
    height:40px;
}
.edit-save{
    width: 100px;
    height:40px;
}
.btt-cancel, .btt-save{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    box-shadow: 0rem 0.1rem 0.1rem rgb(0,0,0,0.3);
}
.btt-cancel{
    background-color: black;
}
.btt-save{
    background-color: #0099ff;
}

.btt-cancel:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btt-save:hover{
    background-color: white;
    color: #0099ff;
    border: 2px solid #0099ff;
}

