* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  min-width: 100px;
  /* background-color: rgb(189, 62, 62); */
}
.container-st {
  width: 100%;
  height: 100vh;
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  position: fixed;
  margin: -400px auto auto auto;
  /* background-color: pink; */
}
.payment-header-st {
  width: 100%;
  height: 82px;
  margin: -752px auto auto auto;
  background-color: white;
  display: flex;
  align-items: center;
}
.whoAmI{
  font-size: 18px;
  margin: auto auto auto 20px;
}

.view-st {
  width: 100%;
  height: calc(100%-80px);
 
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
}

.main-st {
  width: calc(100% - 250px);
  height: 100%;
  margin-left: 128px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.part-1-st {
  width: 90%;
  height: 60px;
  /* background-color: #c2f13e; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.st-prof-st {
  width: 20%;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(248, 73, 73); */
  /* margin: 6px auto auto 10px; */
}
.title-st {
  width: 26%;
  height: 50px;
  font-size: 26px;
  color: #262b2f;
  /* text-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3); */
  /* background-color: rgb(248, 73, 73); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.part-2-st {
  width: 81%;
  height: 80px;
  /* background-color: #f1a33e; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.paid-st {
  width: 390px;
  height: 70px;
  /* background-color: rgb(117, 217, 247); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.display-st{
  width: 220px;
  height: 60px;
  background-color: #f2f2f2;
  border: none;
  font-size: 22px;
  color: black;
  /* border-radius: 4px; */
  /* box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3); */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.theam-st{
  width: 75%;
  height: 60px;
  background-color: white;
  border: none;
  font-size: 22px;
  color: black;
  border-radius: 4px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.remaining-st {
  width: 390px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
} 

.part-3-st {
  width: 100%;
  height: 400px;
  /* background-color: rgb(101, 245, 57); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head-cover-st {
  width: 71%;
  height: 60px;
  /* padding-left: 17px; */
  background-color: #262b2f;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #b0b3b3;
  justify-content: center;
}
.table-head-st {
  width: 100%;
  height: 80%;
  /* background-color: rgb(219, 55, 55); */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border: none;
  /* border-radius: 4px; */
}
.one-st,
.two-st,
.three-st,
.four-st{
  width: 24.7%;
  padding-left: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.one-st{
  width: 26%;
  padding-left: 35px;
  /* background-color: pink; */
}
.two-st{
  padding-left: 25px;
  /* background-color: rgb(247, 37, 72); */
}
.three-st{
  width: 26%;
  padding-left: 24px;
  /* background-color: rgb(49, 220, 250); */
}
.four-st{
  width: 23%;
  padding-left: 20px;
  /* background-color: rgb(49, 52, 250); */
}


.table-body-st {
  /* width: 1005px; */
  width: 78%;
  height:300px;
  background-color: none;
  display: flex;
  /* position: fixed; */
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}
.scroll-st {
  width: 93%;
  height: fit-content;
  padding-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: pink; */
}
.pay_row {
  width: 98%;
  height: fit-content;
  margin-bottom: 10px;
  display: flex;
  /* padding-left: 10px; */
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 5px #b0b3b3;
  border-radius: 4px;
}

.date,
.time,
.method,
.price {
  width: 24.6%;
  height: 57px;
  /* padding-left: 15px; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.date{
  width: 27%;
  padding-left: 36px;
  /* background-color: pink; */
}
.time{
  width: 26%;
  padding-left: 28px;
  /* background-color: rgb(247, 43, 77); */
}
.method{
  width: 27%;
  padding-left: 25.4px;
  /* background-color: rgb(38, 252, 91); */
}
.price{
  width: 24%;
  padding-left: 23px;
  /* background-color: rgb(255, 57, 196); */
}
.table-body-st a {
  text-decoration: none;
  color: black;
}
.payments {
  background-color: #6f7599;
  width: 100px;
  height: 36px;
  border: none;
  border-radius: 4px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  color: white;
}
.payments:hover {
  background-color: #62678a;
}
.details {
  background-color: #0892d0;
  width: 100px;
  height: 36px;
  border: none;
  border-radius: 4px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  color: white;
}
.details:hover {
  background-color: #0099ff;
}
.butt-st {
  width: fit-content;
  height: 50px;
  color: #ffffff;
  padding: 0px 20px;
  background-color: #0892d0;
  border-radius: 3px;
  border: none;
  border: 2px solid #0892d0;
  /* margin: auto 72px auto auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.part-4-st {
  width: 80%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: yellow; */
}
.part-4-st a {
  text-decoration: none;
}
.close-button {
  width: fit-content;
  height: 50px;
  color: white;
  padding: 0px 40px;
  background-color: #262b2f;
  border-radius: 3px;
  border: 2px solid #262b2f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}

.close-button:hover {
  background-color: white;
  color: #262b2f;
  border: 2px solid #262b2f;
  box-shadow: 1px 1px 10px #898a8a;
}
.butt-st:hover {
  background-color: white;
  color: #0892d0;
  border: 2px solid #0892d0;
  box-shadow: 1px 1px 10px #898a8a;
}
.plus-st {
  font-size: 50px;
  padding-right: 6px;
}
.add-payment-st {
  font-size: 16px;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0892d0;
}
