* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  min-width: 100px;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 78px;
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-left: 30px;
}
.prof {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
select {
  width: auto;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding: 4px;
}
.main {
  width: 100%;
  height: calc(100vh - 78px);
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
}


.view {
  width: calc(100% - 250px);
  /* width: 88%; */
  height: 100%;
  /* display: flex;
    flex-direction: column; */
  background-color: #f2f2f2;
}

.part-1 {
  width: 100%;
  height: 10%;
  /* background-color: rgb(111, 111, 255); */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topic {
  font-size: 40px;
  padding-right: 48px;
  color: black;
  text-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.part-2 {
  width: 100%;
  height: 7%;
  background-color: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.ava,
.none {
  width: 20%;
  height: 100%;
  /* background-color: #05c075; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.all,
.today {
  width: 60px;
  font-size: 20px;
  height: 26px;
  border: none;
  background-color: none;
}
#all{
  border-bottom: 2px solid black;
}
#today{
  border-bottom: 2px solid black;
}
.all:hover {
  border-bottom: 2px solid black;
}
.today:hover {
  border-bottom: 2px solid black;
}
.part-3 {
  /* background-color: rgb(248, 250, 146); */
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
}

.table-head {
  width: 71%;
  /* width: 54%; */
  height: 55px;
  /* padding-left: 5px; */
  background-color: #262b2f;
  color: white;
  border-radius: 4px;
  display: flex;
  /* justify-content: center; */
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.one,
.two,
.three,
.four,
.five,
.six {
  height: 100%;
  display: flex;
  align-items: center;
}
.one {
  width: 11%;
  padding-left: 16px;
  /* background-color: rgb(255, 59, 59); */
}

.two {
  width: 18%;
  padding-left: 2px;
  /* background-color: rgb(253, 222, 44); */
}
.three {
  width: 18%;
  /* background-color: rgb(109, 255, 72); */
}
.four {
  width: 12%;
  /* background-color: rgb(51, 113, 248); */
}
.five {
  width: 23%;
  /* background-color: rgb(253, 222, 44); */
}
.six {
  width: 18%;
  /* background-color: rgb(51, 113, 248); */
}
.table-body {
  width: 79%;
  height: 80%;
  background-color: none;
  display: flex;
  /* position: fixed; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.scroll {
  width: 92%;
  height: 90%;
  padding-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign {
  background-color: white;
  padding: 8px;
  width: 110px;
  height: 30px;
  border-radius: 4px;
  border: none;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  transition: 0.4s;
}
.sign:hover {
  color: white;
  background-color: #0892d0;
}
.row-1 {
  width: 98%;
  height: fit-content;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 5px #b0b3b3;
  border-radius: 4px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  height: 57px;
  display: flex;
  align-items: center;
}
.col-1 {
  width: 11.2%;
  padding-left: 14px;
  /* background-color: rgb(248, 144, 144); */
}
.col-2 {
  width: 18%;
  /* background-color: rgb(144, 248, 248); */
}
.col-3 {
  width: 18%;
  padding-left: 1px;
  /* background-color: rgb(160, 144, 248); */
}
.col-4 {
  width: 12%;
  padding-left: 2px;
  /* background-color: rgb(224, 144, 248); */
}
.col-5 {
  width: 27%;
  padding-left: 3.6px;
  /* background-color: rgb(248, 144, 144); */
}
.col-6 {
  width: 14%;
  /* justify-content: center; */
  /* background-color: rgb(144, 248, 248); */
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0892d0;
}
