*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 100px;
    font-family: "Roboto", sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    /* background-color: #c72020; */

}
.header{
    width: 100%;
    height: 80px;
    /* background-color: #05c075; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logo{
    width: 15%;
    height: 70px;
    padding-left: 20px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 125px;
    height: 55px;
}
.main{

    display: flex;
    /* justify-content: center; */
}

.view{
    height: calc(100vh - 80px);
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: #0892d0; */
   
    /* background-color: rgb(206, 206, 16); */
}
.profile{

    width: 100%;
    height:15%;
    display: none;
    justify-content: flex-end;
    /* background-color: blueviolet; */

}
.pic{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: brown; */
}

.pic-div-1{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    justify-content: flex-start;
    /* background-color: rgb(42, 165, 52); */
}
.ppic{
    width: 83px;
    height: 83px;
}
.pic-div-2{
    width: 60%;
    height: 90%;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 10px;
    /* background-color: rgb(147, 199, 152); */
}
.title{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: brown; */
}
.ti-name{
    width: 74%;
    height: 100%;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    /* background-color: burlywood; */
}
.summary{
    width: 85%;
    height: 17%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
    /* background-color: chartreuse; */
}
.paid{
    width: 25%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: crimson; */
}
.paid-col-1{
    width: 28%;
    height: 70%;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: cyan; */

}
.paid-col-2{
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    /* background-color: rgb(169, 218, 218); */

}
.paid-val{
    width: 100%;
    height: 90%;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #b0b3b3;
    background-color: white;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.remaining{
    width: 25%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: crimson; */
}
.remaining-col-1{
    width: 50%;
    height: 70%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: cyan; */

}
.remaining-col-2{

    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    /* background-color: rgb(169, 218, 218); */
}

.table-container{
    width: 100%;
    height: 63%;
    display: flex;
    padding-top: 20px;
    /* flex-direction: column; */
    /* align-items: flex-start;
    justify-content: center; */
    /* background-color: coral; */

}

.table-part{
    height: 100%;
    width: 83%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-color: chartreuse; */
}

.button-part{
    height: 100%;
    width: 17%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    justify-content: center;
    /* background-color: darkcyan; */
}
.table{
    width: 96%;
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: crimson; */
}
.aaa{
    width:96% ;
    height: 15%;
    /* padding-left: -5px; */
    /* padding-right: 10px; */
    display: flex;
    justify-content: center;
    /* background-color: slateblue; */
}
.table-tiltle{
    height: 55px;
    width: 98%;
    display: flex;
    align-items: center;
    /* margin-left: px; */
    margin-bottom: 5px;
    justify-content: space-evenly;
    background-color: #262b2f;
    box-shadow: 1px 1px 10px #b0b3b3;
    border-radius: 6px;
}



.cel-1,.cel-2,.cel-3,.cel-4{
    width: 20%;
    height: 100%;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: seashell;
    justify-content: center;
    align-items: center;
    /* background-color : rgb(235, 199, 170); */
}

.data{
    height: fit-content;
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(53, 70, 145); */
}

.row{
    height: 55px;
    width: 98%;
    box-shadow: 1px 1px 10px #b0b3b3;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    /* background-color: rgb(233, 184, 23); */
}
.col-1,.col-2,.col-3,.col-4{
    width: 20%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(98, 116, 80); */
}

.pay-online{
    width: fit-content;
    height: 55px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #0892d0;
    border-radius: 3px;
    background-color: #0892d0;
    color: seashell;
    box-shadow: 1px 1px 10px #b0b3b3;
    cursor: pointer;
}

.pay-online:hover{
    border: 2px solid #0892d0;
    background-color: seashell;
    color: #0892d0;
    box-shadow: 1px 1px 10px #b0b3b3;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0892d0;
  }




  /* popup window  css ==>>>>>*/

  /* *{
    margin: 0;
    padding: 0;
}

body{
    min-width: 100px;
    font-family: "Roboto",sans-serif;
}

.container-1{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f2f2f2;

} */

.popup{
    height: calc(100vh - 80px);
    width: calc(100% - 250px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #d0c308; */
}
.container-2{
    width: 30%;
    height: 60%;
    box-shadow: 1px 1px 10px #b0b3b3 ;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* background-color: rgb(119, 35, 35); */
}

.div-1-p{
    width: 100%;
    height: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
    /* background-color: coral; */
}
h3{
    font-size: 20px;
    font-weight: 400;
}
.div-2-p{
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: cornflowerblue; */
}

.div-3-p{
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: cyan; */
}

.div-4-p{
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: darkgreen; */
}

.div-5-p{
    width:100% ;
    height: 100px;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    /* background-color: rgb(161, 172, 16); */
}

.col-1-p{
    width: 30%;
    height: 60px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: darkgrey; */
}
.col-2-p{
    width: 5%;
    height: 60px;
    display: flex;
    align-items: center;
    /* background-color: darkmagenta; */
}

.col-3-p{
    width: 40%;
    height: 60px;
    display: flex;
    align-items: center;
    /* background-color: darkorange; */
}
.amount{
    border-radius: 3px;
    box-shadow: 0px 0px 10px #dce0e094 inset;
   
    width: 90%;
    height: 35px;
    font-size: 20px;
}
.methods{
    text-align: center;
   
    border-radius: 3px;
    box-shadow: 0px 0px 10px #dce0e094 inset;
    font-size: 19px;
    font-weight: 400;
    width: 90%;
    height: 35px;
}

.total{
    border-radius: 3px;
    box-shadow: 0px 0px 10px #dce0e094 inset;
    width: 90%;
    height: 35px;
    background-color: white;
}
.div-button{
    height: 70%;
    width: 30%;
    display: flex;
    justify-content: center;
    /* padding-left: 10px; */
    /* background-color: darkred; */
}
.Back{
    height: 45px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;  
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #262b2f;
    color: seashell;
    border-radius: 3px;
    background-color:  #262b2f;
    cursor: pointer;
    text-decoration: none;
    
    /* background-color: rgb(19, 224, 19); */
}
.Back:hover{
    color: #262b2f;
    background-color: seashell;
    border: 2px solid #262b2f;
    box-shadow: 1px 1px 10px #b0b3b3;
}

.Cancel{
    height: 45px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: seashell;
    border-radius: 3px;
    border: 2px solid #262b2f;
    background-color:  #262b2f;
    cursor: pointer;
    
    /* background-color: rgb(19, 224, 19); */
}
.Cancel:hover{
    color: #262b2f;
    background-color: seashell;
    border: 2px solid #262b2f;
    box-shadow: 1px 1px 10px #b0b3b3;
}
.pay{
    height: 45px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color:seashell ;
    border: 2px solid #0892d0;
    box-shadow: 1px 1px 10px #b0b3b3;
    border-radius: 3px;
    background-color:#0892d0;
    cursor:pointer;
    
    /* background-color: rgb(19, 224, 19); */
}
.pay:hover{
    border: 2px solid #0892d0;
    background-color: seashell;
    color: #0892d0;
    box-shadow: 1px 1px 10px #b0b3b3;
}


