
.details{
    display: flex;
    align-items: center;
    /* background-color: blue; */
    /* background-color: transparent; */
    /* box-shadow: none; */
}
.waviy {
    margin: auto;
    /* margin-bottom: 30%; */
    position: relative;
    text-align: center;
    /* background-color: blueviolet; */
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 70px;
    color: #0892d0;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }




















@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    z-index: -5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #b8cac8;
    overflow: hidden;
}
.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #d3e5e3;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 7s ease-in forwards infinite;
}
undefined
.background li:nth-child(0) {
    animation-delay: 0s;
    left: 53vw;
    top: 17vh;
    border-color: #ffffff;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 4vw;
    top: 82vh;
    border-color: #ffffff;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 0vw;
    top: 72vh;
    border-color: #ffffff;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 60vw;
    top: 68vh;
    border-color: #ffffff;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 89vw;
    top: 76vh;
    border-color: #ffffff;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 67vw;
    top: 26vh;
    border-color: #ffffff;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 33vw;
    top: 22vh;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 49vw;
    top: 5vh;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 44vw;
    top: 44vh;
    border-color: #ffffff;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 11vw;
    top: 13vh;
}

.background li:nth-child(10) {
    animation-delay: 20s;
    left: 39vw;
    top: 94vh;
}

.background li:nth-child(11) {
    animation-delay: 22s;
    left: 29vw;
    top: 49vh;
    border-color: #ffffff;
}

.background li:nth-child(12) {
    animation-delay: 24s;
    left: 71vw;
    top: 78vh;
}

.background li:nth-child(13) {
    animation-delay: 26s;
    left: 65vw;
    top: 1vh;
    border-color: #ffffff;
}

.background li:nth-child(14) {
    animation-delay: 28s;
    left: 57vw;
    top: 41vh;
}

.background li:nth-child(15) {
    animation-delay: 30s;
    left: 26vw;
    top: 37vh;
}

.background li:nth-child(16) {
    animation-delay: 32s;
    left: 51vw;
    top: 11vh;
}

.background li:nth-child(17) {
    animation-delay: 34s;
    left: 42vw;
    top: 88vh;
    border-color: #ffffff;
}

.background li:nth-child(18) {
    animation-delay: 36s;
    left: 35vw;
    top: 87vh;
    border-color: #ffffff;
}

.background li:nth-child(19) {
    animation-delay: 38s;
    left: 79vw;
    top: 39vh;
}

.background li:nth-child(20) {
    animation-delay: 40s;
    left: 94vw;
    top: 59vh;
}

.background li:nth-child(21) {
    animation-delay: 42s;
    left: 98vw;
    top: 30vh;
    border-color: #ffffff;
}

.background li:nth-child(22) {
    animation-delay: 44s;
    left: 7vw;
    top: 7vh;
}

.background li:nth-child(23) {
    animation-delay: 46s;
    left: 86vw;
    top: 69vh;
    border-color: #ffffff;
}

.background li:nth-child(24) {
    animation-delay: 48s;
    left: 17vw;
    top: 19vh;
    border-color: #ffffff;
}

.background li:nth-child(25) {
    animation-delay: 50s;
    left: 83vw;
    top: 63vh;
}

.background li:nth-child(26) {
    animation-delay: 52s;
    left: 13vw;
    top: 98vh;
}


.background li:nth-child(27) {
    animation-delay: 54s;
    left: 75vw;
    top: 31vh;
}

.background li:nth-child(28) {
    animation-delay: 56s;
    left: 22vw;
    top: 53vh;
}

.background li:nth-child(29) {
    animation-delay: 58s;
    left: 93vw;
    top: 52vh;
}

.background li:nth-child(30) {
    animation-delay: 60s;
    left: 72vw;
    top: 91vh;
}

.background li:nth-child(31) {
    animation-delay: 62s;
    left: 20vw;
    top: 58vh;
}