
.details{
    display: flex;
    align-items: center;
    /* background-color: blue; */
    background-color: transparent;
    box-shadow: none;
}
.waviy {
    margin: auto;
    /* margin-bottom: 30%; */
    position: relative;
    text-align: center;
    /* background-color: blueviolet; */
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 70px;
    color: #0892d0;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }