* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.main-content {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  height: 100vh;
}
.addInstructor-box {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 85vh;
  background-color: white;
  box-shadow: 1px 1px 10px #b0b3b3;
  border-radius: 4px;
}
.topic {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.bottom-part {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 40px 40px;
  border: none;
}
.participation-count {
  font-weight: bold;
}
.button-set {
  color: whitesmoke;
}

.cancel {
  width: 70px;
  height: 40px;
  margin-right: 20px;
  background-color: #262b2f;
  font-weight: 600;
  box-shadow: 1px 1px 10px #b0b3b3;
  border-radius: 4px;
  color: honeydew;
  border: none;
}
.cancel:hover {
  background-color: white;
  color: #262b2f;
  border: 2px solid #262b2f;
}
.save {
  width: 130px;
  height: 40px;
  /* margin-right: 5px; */
  font-weight: 600;
  background-color: #0892d0;
  box-shadow: 1px 1px 10px #b0b3b3;
  border-radius: 4px;
  color: white;
  border: none;
}
.save:hover {
  /* width: 130px; */
  height: 40px;
  background-color: white;
  box-shadow: 1px 1px 10px #b0b3b3;
  border-radius: 4px;
  color: #0892d0;
  border: 2px solid #0892d0;
}
.confirmation-box {
  /* background-color: tomato; */
  position: fixed;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.confirmation-box-active {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  visibility: visible;
  position: fixed;
  align-items: center;
  background-color: transparent;
  justify-content: space-around;
}
.box-body {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 600px;
  height: 250px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #b0b3b3;
}
.popup-content-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: space-around;
}
p {
  font-size: 15px;
  font-weight: 600;
}
.popup-button-set {
  display: flex;
  width: 90%;
  justify-content: space-around;
  height: 45px;
}
.popup-cancel {
  width: 150px;
  height: 43px;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 3px;
  background-color: #262b2f;
  border: 2px solid #262b2f;
  box-shadow: 1px 1px 10px #898a8a;
}
.popup-confirm {
  width: 150px;
  height: 43px;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 3px;
  background-color: #0892d0;
  border: 2px solid #0892d0;
  box-shadow: 1px 1px 10px #898a8a;
}
.popup-confirm:hover {
  background-color: white;
  color: #0892d0;
  cursor: pointer;
  border: 2px solid #0892d0;
  box-shadow: 1px 1px 10px #898a8a;
}
@media screen and (max-width: 1117px) {
  .save {
    width: 100px;
    height: 40px;
    font-size: xx-small;
    font-weight: normal;
  }
  .heading-row {
    display: none;
  }
}
